.todoItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  padding: 4px;
  min-height: 120px;
}

.todoItem--complited {
  text-decoration: line-through;
  filter: brightness(70%);
}

.todoItem__butonContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.todoItem__buton {
  font-size: 36px;
}
.todoItem__buton--check {
  color: var(--check);
}
.todoItem__buton--detele {
  color: var(--cancel);
}
