.todoItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  background-color: rgb(221, 253, 246);
  padding: 8px;
  height: 100%;
}

.todoItem--complited {
  text-decoration: line-through;
  background-color: rgb(170, 189, 185);
}

.todoItem__butonContainer {
  display: flex;
  align-items: center;
}
