@import url(../styles/generalStyles.css);

.creator-container {
  position: fixed;
  background-color: var(--corkboard-panel);
  height: 65vh;
  width: 100vw;
  padding: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.label {
  font-size: 28px;
  font-weight: 700;
  color: var(--corkboard-mark-shadow);
}

.colors-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
}

.writer {
  height: 50%;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  border: none;
  resize: none;
}

.btn {
  font-size: 18px;
  font-weight: bold;
  width: 40%;
  background-color: var(--clair-coffe);
  border: solid 2px var(--corkboard-mark);
  padding: 6px;
  border-radius: 4px;
}
.btn:hover {
  background-color: white;
  border: solid 2px var(--corkboard-mark);
}
.btn:active {
  background-color: var(--corkboard-mark-light);
  border: solid 2px var(--corkboard-mark-shadow);
  box-shadow: none;
}

.btn--cancel {
  color: var(--cancel);
}

.btn--create {
  color: var(--check);
}
