@import url(../styles/generalStyles.css);

.App {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  align-items: center;
  padding: 20px;
}

.corkboard {
  background-color: var(--corkboard-panel);
  border: solid var(--corkboard-mark) 12px;
  padding: 8px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.corkboard::-webkit-scrollbar {
  display: none;
}
