@import url(../styles/generalStyles.css);

.App {
  height: 100vh;
  padding: 12px;
}

.corkboard {
  max-width: 1000px;
  height: 65vh;
  background-color: var(--corkboard-panel);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  border: solid 12px;
  border-bottom-color: var(--corkboard-mark);
  border-left-color: var(--corkboard-mark);
  border-top-color: var(--corkboard-mark-shadow);
  border-right-color: var(--corkboard-mark-shadow);
  padding: 8px 8px 0px;
  margin: 20px auto 20px;
}
.corkboard::-webkit-scrollbar {
  display: none;
}

.scroll-box::-webkit-scrollbar {
  display: none;
}

.main-btns-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}
.footer--icon {
  font-size: 24px;
  position: relative;
  top: 4px;
}
