@import url(../styles/generalStyles.css);

.App {
  height: 100vh;
  padding: 12px;
}

.corkboard {
  height: 65vh;
  background-color: var(--corkboard-panel);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  border: solid 12px;
  border-bottom-color: var(--corkboard-mark);
  border-left-color: var(--corkboard-mark);
  border-top-color: var(--corkboard-mark-shadow);
  border-right-color: var(--corkboard-mark-shadow);
  padding: 8px;
}
.corkboard::-webkit-scrollbar {
  display: none;
}

.main-btns-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}
