.App {
  color: rgb(30, 30, 206);
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aquamarine;
  margin: 80px auto;
  padding: 28px;
  border-radius: 20px;
}
