.todoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  background-color: rgb(221, 253, 246);
  border: 2px solid cadetblue;
  border-radius: 16px;
  padding: 8px 12px;
  margin: 12px 0px;
}

.todoItem--complited {
  text-decoration: line-through;
  background-color: rgb(170, 189, 185);
}

.todoItem__butonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todoItem__bouton {
  background-color: rgb(193, 191, 255);
  padding: 6px;
  border-radius: 50%;
  margin: 6px;
}

.todoItem__bouton:hover {
  background-color: rgb(255, 251, 179);
  cursor: pointer;
}

.todoItem__bouton:active {
  background-color: rgb(224, 221, 180);
}
