@import url(../styles/generalStyles.css);

.todoCounter {
  color: var(--led-sign-on);
  font-family: "Tektur", cursive;
  font-size: 28px;
  text-align: center;

  background-color: var(--led-sign-off);
  border: solid 6px var(--led-sign-mark);
  padding: 4px;
}
