@import url(../styles/generalStyles.css);

.todoSearch {
  text-align: center;
  font-size: 18px;
  border-radius: 12px;
  border: 2px solid var(--corkboard-mark);
  width: 100%;
  height: 40px;
}

.todoSearch:focus {
  outline-color: var(--led-sign-on);
}
